body {
    
    background-color:white;
    margin:0;

}


header {

    height:30vh;
	width:100vw;
    background-color:rgb(70, 69, 69);
    margin:0;

}

article {

    height:70vh;
	width:15vw;
    background-color:rgb(185, 184, 184);
    margin:0;
    display:block;
    float:left;
}

aside {

    height:70vh;
	width:15vw;
    background-color:rgb(145, 145, 145);
    margin:0;
    position: absolute;
    right: 0;
    display: block;
}
#spacer {
        height:50vh;
        width:70vw;
        margin:0 auto;

}
footer { 

    height:20vh;
	width:70vw;
    background-color:black;
    margin:0 auto;
    
}